@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Kanit:wght@800&display=swap');

:root {
	--color-background: #ffffff;
	--color-highlight: #ffd025;
	--color-light: #fff9a6;
	--color-medium: #8ae73e;
	--color-medium-dark: #008383;
	--color-dark: #272727;
	--page-width: 1000px;
	--small-width: 800px;
}

html, body {
    height: 100%;
    font-family: "Libre Franklin", helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

body {
	font-size: 100%;
	background-color: var(--color-background);
	color: var(--color-dark);
	padding-left: 25px;
	padding-right: 25px;
	margin-left: auto;
	margin-right: auto;
	max-width: var(--page-width);
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 0 auto;
}
.nav {
	justify-content: center;
}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.footer {
	flex-shrink: 0;
	font-size: 80%;
} 
.img {
	width: 0.5*var(--page-width);
}

h1 {
	display: inline-block; /* Used to keep the gradient from shifting with screen width */
	font-family: "Kanit", "Libre Franklin", helvetica, sans-serif;
	text-decoration: bold;
	text-align: center;
	font-size: 500%;
	background: -webkit-linear-gradient(60deg, var(--color-medium-dark) 10%, var(--color-medium) , var(--color-light) 90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	user-select: none;
	/* The following three commands center the inline-block*/
	position: relative;
	left: 50%; 
	transform: translateX(-50%);
}

nav {
	padding: 5px;
	border-radius: 25px;
	font-family: "Kanit", "Libre Franklin", helvetica, sans-serif;
	background-color: var(--color-dark);
	color: var(--color-background);
	text-align: center;
}
.nav a:link, a:visited {
	color: var(--color-background);
	background-color: transparent;
	text-decoration: none;
}
.nav a:visited {
	color: var(--color-background);
	background-color: transparent;
	text-decoration: none;
}
.nav a:hover {
	color: var(--color-background);
	background: -webkit-linear-gradient(60deg, var(--color-medium) , var(--color-light));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none;
}

p {
	color: var(--color-dark);
}

ul {
	max-width: var(--small-width);
}

img {
	width: 100%;
	max-width: var(--small-width);
	margin-left: auto;
	margin-right: auto;
}

a:link, a:visited {
	color: var(--color-medium);
	background-color: transparent;
	text-decoration: underline;
}
a:hover {
	color: var(--color-dark);
	background-color: var(--color-medium);
	text-decoration: none;
}
