{% extends "base.html" %}

{% block block_content %}
In its current form, DAOchem was built by Lucia Korpas and supported by 
<a href="https://metagov.org/">Metagov</a>. If you appreciated DAOchem, you'll 
probably be interested in Metagov's other work. You can find Lucia on 
<a href="https://github.com/notchia/">GitHub</a> and <a href="https://twitter.com/luciakorpas">Twitter</a>. 

<p>The original version deployed at ETHDenver was a four-person effort! Tons of thanks to 
<a href="https://twitter.com/renegaderegen">Sage Shelton</a> for survey development and distribution, 
<a href="https://github.com/sqnguyen00">Son Nguyen</a> for preliminary analysis of Twitter and 
Boardroom.info data, and <a href="https://github.com/strykerin">strykerin</a> for full-stack development. 
Thanks also to Noam from <a href="https://deepdao.io/">DeepDAO</a> for providing data to help us link on- and off-chain data sources.</p>
{% endblock %}