<!DOCTYPE html>
<html lang="en-US">

<head>

<title>DAOchem</title>

{% load static %}
<link rel="stylesheet" href="{% static 'daochem.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'daochem.png' %}"/>
<meta name="description" content="DAOchem">
<meta name="author" content="DAOchem">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body> 

<header>
	<h1>DAOchem</h1>
</header>

<nav class="nav">
	<a href="{% url 'index' %}">home</a>
	&nbsp;&nbsp;
	<a href="{% url 'factories' %}">dao factories</a>
	&nbsp;&nbsp;
	<a href="{% url 'twitter' %}">dao tweets</a>
	&nbsp;&nbsp;
	<a href="{% url 'sentiment' %}">dao sentiment</a>
	&nbsp;&nbsp;
	<a href="{% url 'about' %}">about</a>
</nav>

<main class="content">
	{% block block_content %}
    {% endblock %}
</main>

<footer class="footer">
	<p>For further information, check out: </p>
	<ul>
		<li><a href="https://github.com/notchia/daochem-backend"><b>the project on github</b></a>
		<li><a href="https://metagov.org/"><b>our parent organization, metagov</b></a>
	  </ul>
</footer>

</body>

</html>