{% extends "base.html" %}

{% block block_content %}
Some DAO frameworks allow DAO creators to create a DAO through a client interface. 
In these cases, under the hood, there are factory contracts which deploy one or 
more new smart contracts using the inputs given by the DAO creator, initializing 
the on-chain governance infrastructure for the new DAO.

With a little digging through GitBooks and GitHub repos, we found a few of these:

{% for fac in factories %}
  <div class="card">
    <div class="container">
      <h2><b>{{ fac.model.dao_framework.name }} {{ fac.model.contract_address.contract_name }} version {{ fac.model.version }}</b></h2>
      <p>Ethereum address: <a href="{{ fac.model.contract_address.etherscan_url }}">{{ fac.model.contract_address.address }}</a></p>
      <p>Number of DAOs created: {{ fac.daos_created_count }}</p>
    </div>
  </div>
  {% endfor %}
{% endblock %}