{% extends "base.html" %}

{% block block_content %}
<p><b>DAOchem</b> is a solution in which on- and off-chain governance data sources react to produce a holistic view of DAO governance. We integrate data on <b>smart contract parameters</b>, <b>voting activity</b>, <b>Twitter activity</b>, and <b>contributor sentiment</b> to help DAO creators, contributors and researchers understand the governance landscape.</p>

<p>The database has the following record counts:</p>
<ul>
  <li><strong>Factories:</strong> {{ num_factories }}</li>
  <li><strong>DAOs:</strong> {{ num_daos }}</li>
</ul>
{% endblock %}